body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #7bb0b3;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
}

li {
    display: inline-block;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    width: 15%;
}

a {
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background-color: #2d6164;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

button:hover {
    background-color: #133536;
}
button img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 150px; /* Ajuste o tamanho conforme necessário */
    margin-right: 5px;
    border-radius: 50%; /* Se desejar bordas arredondadas para a imagem */
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;  
    font-size: 20px;
}